<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SINGLE</title>
</head>
<body>
    {% for i in object_list %}
    {% if i.client == user %}
    <p>Me:{{ user }}</p>
        <p><a href="{% url 'bank:all' %}">Home page()</a></p>
        <p><a href="{{ i.get_absolute_url }}">Calculate your deposit()</a></p>
    <hr>
    <hr>
    <table>
        <tr><td>Deposit amount</td>    <td>Period in days</td>
        <tr><td>{{ i.deposit_sum }}</td>    <td>{{ i.period }}</td>
    </table>
    {% endif %}
    {% endfor %}
</body>
</html>