<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MARGIN</title>
</head>
<body>
    <p>Me:{{ user }}</p>
    <p><a href="{% url 'bank:all' %}">Home page()</a></p>
    <p><a href="{% url 'bank:single' %}">Sum deposit()</a></p>
    <p><a href="{% url 'bank:new' %}">Create new deposit()</a></p>
    <hr>
    <hr>
    {% for obj in object_list %}
    <table>
                        <tr>{{ obj.date }}</tr>
        <tr><th colspan="2">Deposit income USD</th></tr>
        <tr><td>{{ obj.profit_usd }} usd</td></tr>
        <tr><th colspan="2">Deposit income EUR</th></tr>
        <tr><td>{{ obj.profit_eur }} eur</td></tr>
        <tr><th colspan="2">Deposit income RUB</th></tr>
        <tr><td>{{ obj.profit_rub }} rub</td></tr>
        <tr><th colspan="2">Deposit income BYN</th></tr>
        <tr><td>{{ obj.profit_byn }} byn</td></tr>
    </table>
    {% endfor %}
    <hr>
    <hr>
</body>
</html>
